<div id="root">
  <!-- Navbar -->
  <nav class="shadow-md bg-white sticky top-0 z-30">
    <div class="lg:w-[90%] md:w-[90%] sm:w-[95%] m-auto pt-2 flex justify-between items-center">
      <a routerLink="/" class="cursor-pointer">
        <img src="../assets/images/logo.png" alt="logo" class="lg:w-[200px] md:w-[150px] mb-[5px]">
      </a>
  
      <div class="flex items-center gap-4">
        <a *ngIf="!isAuth" routerLink="login" type="button" class="focus:outline-none text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900">Sign in</a>

        <!-- User Dropdown  -->
        <div class="relative" *ngIf="isAuth" (click)="toggleDropdown()">
            <button class="bg-[#2B2A4C] rounded-full px-2 py-1 focus:ring-4 focus:ring-gray-300">
              <i class="fa-solid fa-user-tie text-white"></i>
            </button>

          <!-- <div [@dropdownAnimation]="isOpen ? 'open' : 'closed'" class="absolute bg-[#EA906C] divide-y divide-gray-100 mt-2 w-44 border border-gray-200 rounded-lg shadow-lg z-40">
            <div class="px-4 py-3 flex items-center gap-2">
                <i class="fa-solid fa-user-tie"></i>
                <p class="text-[#B31312] font-extrabold">{{user.username.toUpperCase()}}</p>
              </div>
              <ul class="py-2 text-sm text-white dark:text-gray-200" aria-labelledby="dropdownUserAvatarButton">
                <li>
                  <a href="" routerLink="profile" class="block px-4 py-2 hover:bg-gray-100 hover:text-black cursor-pointer">My Profile</a>
                </li>
              
              </ul>
              <div class="py-2">
                <a href="" (click)="handleLogout()" class="block px-4 py-2 text-sm text-white hover:bg-gray-100 hover:text-black cursor-pointer">Sign out</a>
              </div>
          </div> -->
        </div>

        <a routerLink="wishlist"> 
          <i class="fa-solid fa-book text-[#B31312] text-[20px]"></i>
        </a>
        <a routerLink="cart">
          <i class="fa-solid fa-cart-shopping text-[#B31312] text-[20px]"></i>
        </a>
       
      </div>
    </div>
  </nav>

  <!-- Body -->
  <div id="body-section" class="min-h-screen">
    <router-outlet></router-outlet>
    <app-chatbot></app-chatbot>
  </div>

  <!-- Footer  -->
  <app-footer></app-footer>


  <div [@dropdownAnimation]="isOpen ? 'open' : 'closed'" class="absolute top-[60px] right-[80px] bg-[#EA906C] divide-y divide-gray-100 mt-2 w-44 border border-gray-200 rounded-lg shadow-lg z-40">
    <div class="px-4 py-3 flex items-center gap-2">
        <i class="fa-solid fa-user-tie"></i>
        <p class="text-[#B31312] font-extrabold">{{user.username.toUpperCase()}}</p>
      </div>
      <ul class="py-2 text-sm text-white dark:text-gray-200" aria-labelledby="dropdownUserAvatarButton">
        <li>
          <a (click)="profileBtn()" class="block px-4 py-2 hover:bg-gray-100 hover:text-black cursor-pointer">My Profile</a>
        </li>
      
      </ul>
      <div class="py-2">
        <a href="" (click)="handleLogout()" class="block px-4 py-2 text-sm text-white hover:bg-gray-100 hover:text-black cursor-pointer">Sign out</a>
      </div>
  </div>

</div>