<footer class="bg-[#EEE2DE] p-4 mt-5">
    <div class="lg:w-[80%] md:w-[80%] sm:w-[80%] m-auto mt-8 flex lg:flex-row md:flex-col justify-evenly gap-3">
        <div>
            <h1 class="font-bold text-[18px] text-gray-500">Top Genres</h1>
        </div>
        <div>
            <h1 class="font-bold text-[18px] text-gray-500">Discover</h1>
        </div>
        <div class="flex flex-col gap-3 text-[16px]">
            <h1 class="font-bold text-[18px] text-gray-500">Company</h1>
            <a href="">About us</a>
            <a href="">Contact us</a>
            <a href="">FAQ's</a>
            <a href="">Return & Cancellation</a>
            <a href="">Privacy Policy</a>
            <a href="">Terms & Conditions</a>
        </div>
        <div>
            <h1 class="font-bold text-[18px] text-gray-500">Education</h1>
        </div>
        <div class="flex flex-col gap-4">
            <h1 class="font-bold text-[18px] text-gray-500">Signup for our newsletter</h1>

            <form class="flex gap-4 items-center">
                <input type="email" id="email" aria-describedby="helper-text-explanation" class="bg-gray-50 border border-gray-300 text-gray-900 text-md rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 w-[300px]" placeholder="Email address" />
                <button type="button" class="text-white bg-gradient-to-r from-red-400 via-red-500 to-red-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 shadow-lg shadow-red-500/50 dark:shadow-lg dark:shadow-red-800/80 font-medium rounded-lg text-md px-5 py-2.5 text-center me-2">Submit</button>
            </form>

            <div class="mt-5">
                <h1 class="font-bold text-[18px] text-gray-500">Connect with us</h1> 
                <p class="text-gray-500">{{"shatrukumar47@gmail.com"}}</p>
            </div>

        </div>
    </div>

    <div id="connect-with-us" class="border border-t-slate-900 mt-4 pb-4 pt-4 flex flex-col gap-3 items-center">
        <h1 class="font-bold text-[18px] text-gray-500">Connect with us</h1>
        <div id="social-networks" class="flex gap-4">
            <img src="https://bookscape.com/_next/static/media/footer_facebook.46273713.svg" alt="facebook">
            <img src="https://bookscape.com/_next/static/media/footer_insta.ee5f6e27.svg" alt="instagram">
            <img src="https://bookscape.com/_next/static/media/footer_twitter.46efc78c.svg" alt="twitter">
        </div>
        <p>Copyright  &copy; 2023 by Read Right India</p>
    </div>
</footer>