#card {
  background-color: white;
  padding-bottom: 10px;
  border-radius: 8px;
  overflow: hidden;
  transition: box-shadow 0.3s ease;
}

#card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

#heart {
  transition: opacity 0.3s ease;
}

#cart-button {
  transition: opacity 0.3s ease;
}

#card:hover
#cart-button, #card:hover #heart {
  opacity: 1;
}
