<div
  id="card"
  class="lg:w-[200px] md:w-[150px] p-4 flex flex-col gap-1 items-center justify-center break-words relative lg:shadow-none md:shadow-md"
>
  <i
    id="heart"
    (click)="openModal(item._id)"
    class="fa-regular fa-heart text-[25px] bg-white rounded-full p-1 text-red-700 hover:text-red-950 hover:cursor-pointer absolute top-[-1px] right-[-1px] lg:opacity-0 md:opacity-100 transition-opacity duration-300"
  ></i>
  <img
    (click)="handleViewDetails()"
    src="{{ item.image }}"
    alt="book"
    class="w-[100%] hover:cursor-pointer"
  />
  <p class="font-bold mt-2">{{ item.title }}</p>
  <p class="text-[14px]">{{ item.author }}</p>
  <p class="font-bold text-[#388E3C]">₹{{ item.price }}</p>
  <button
    id="cart-button"
    (click)="addToCart()"
    type="button"
    class="text-white bg-red-700 hover:bg-red-800 font-medium rounded-lg text-sm lg:px-5 md:px-2 py-2.5 lg:opacity-0 md:opacity-100 transition-opacity duration-300"
  >
    Add to Cart
  </button>
</div>

<!-- Add to Reading List Modal  -->
<div
  *ngIf="isModalOpen"
  class="modal fixed w-full h-full top-0 left-0 flex items-center justify-center z-50"
>
  <div
    class="modal-overlay absolute w-full h-full bg-gray-900 opacity-50"
    (click)="closeModal()"
  ></div>
  <!-- Modal Content -->
  <div
    class="modal-container bg-white w-11/12 md:max-w-md mx-auto rounded shadow-lg z-50 overflow-y-auto"
  >
    <!-- Modal Header -->
    <div class="modal-header p-3 border-b flex justify-between items-center">
      <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
        Add to Reading List
      </h3>
      <button
        (click)="closeModal()"
        class="text-gray-500 hover:text-gray-700 focus:outline-none text-[30px]"
      >
        &#215;
      </button>
    </div>

    <!-- Modal Body -->
    <div
      class="lg:h-[400px] md:h-[300px] modal-body p-4 md:p-5 space-y-4 flex flex-col gap-2 overflow-y-auto"
    >
      <!-- Loading  -->
      <div
        *ngIf="loading"
        id="loading-cont"
        class="h-[300px] flex justify-center items-center"
      >
        <app-loading [w]="'30px'" [h]="'30px'"></app-loading>
      </div>

      <!-- List  -->
      <div *ngIf="!loading" class="flex flex-col gap-2">
        <div
          *ngFor="let item of readinglist"
          (click)="handleAddBookToRL(item._id)"
          class="flex gap-2 items-center p-2 border-b shadow-md hover:text-red-600 cursor-pointer"
        >
          <img
            src="https://bookscape.com/_next/static/media/apple-touch-icon-57x57.e1bb8861.png"
            alt=""
            class="w-[20px]"
          />
          <h1 class="font-bold">{{ item.title }}</h1>
        </div>
      </div>
    </div>

    <!-- Modal Footer -->
    <div class="modal-footer p-4 border-t flex gap-5"></div>
  </div>
</div>
