<div id="card" class="lg:w-[200px] md:w-[150px] p-4 flex flex-col gap-1 items-center justify-center break-words relative lg:shadow-none  md:shadow-md">
    <i id="heart" (click)="readingList(item._id)" class="fa-regular fa-heart text-[25px] bg-white rounded-full p-1 text-red-700 hover:text-red-950 hover:cursor-pointer absolute top-[-1px] right-[-1px] lg:opacity-0 md:opacity-100 transition-opacity duration-300"></i>
    <img (click)="handleViewDetails()" src="{{item.image}}" alt="book" class="w-[100%] hover:cursor-pointer">
    <p class="font-bold mt-2">{{item.title}}</p>
    <p class="text-[14px]">{{item.author}}</p>
    <p class="font-bold text-[#388E3C]">₹{{item.price}}</p>
    <button id="cart-button" (click)="addToCart()" type="button" class="text-white bg-red-700 hover:bg-red-800 font-medium rounded-lg text-sm lg:px-5 md:px-2 py-2.5 lg:opacity-0 md:opacity-100 transition-opacity duration-300">Add to Cart</button>
</div>


