<div class="min-h-[70vh] flex flex-col justify-center items-center gap-3">
    <img src="../../../assets/images/logo1.png" alt="" class="w-[200px]">
    <h1 class="text-[30px] font-extrabold text-[#2B2A4C]">Page Not Found</h1>
    <p class="font-bold text-gray-500">We're sorry, the page you requested could not be found.</p>
    <p class="font-bold text-gray-500">Please go back to homepage</p>
    <a routerLink="/" type="button" class="text-white bg-[#2B2A4C] hover:bg-[#0b0b14] focus:outline-none focus:ring-4 focus:ring-blue-300 rounded-full text-md font-bold px-5 py-2.5 text-center me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 cursor-pointer">GO HOME</a>
</div>