<div id="home">
    <div id="menu-bar" class="p-3 pt-4 pb-4 bg-white sticky lg:top-[78.16px] md:top-[62px] z-30 shadow-md">
        <ul class="flex justify-evenly lg:text-[18px] md:text-[16px] font-bold text-gray-600">
           <li (click)="selectGenre()" class="hover:text-[#B31312] cursor-pointer">All</li> 
           <span>|</span>
           <li (click)="selectGenre('romance')" class="hover:text-[#B31312] cursor-pointer">Romance</li> 
           <span>|</span>
           <li (click)="selectGenre('science fiction')" class="hover:text-[#B31312] cursor-pointer">Science Fiction</li> 
           <span>|</span>
           <li (click)="selectGenre('mystery')" class="hover:text-[#B31312] cursor-pointer">Mystery</li> 
           <span>|</span>
           <li (click)="selectGenre('historical')" class="hover:text-[#B31312] cursor-pointer">Historical</li> 
           <span>|</span>
           <li (click)="selectGenre('horror')" class="hover:text-[#B31312] cursor-pointer">Horror</li> 
           <span>|</span>
           <li (click)="selectGenre()" class="hover:text-[#B31312] cursor-pointer">Non Fiction</li> 
        </ul>
    </div>

    <div id="carousel" class="mt-3">
        <app-carousel></app-carousel>
    </div>

    <div id="trending-categories" class="lg:w-[80%] md:w-[90%] m-auto mt-[40px]">
        <h1 class="lg:text-[24px] md:text-[18px] mb-3 text-[#B31312] font-bold">Trending Categories</h1>
        <div class="flex justify-between">
            <img src="../../../assets/images/trending-categories1.webp" alt="1" width="32%" class="rounded-xl cursor-pointer">
            <img src="../../../assets/images/trending-categories2.webp" alt="2" width="32%" class="rounded-xl cursor-pointer">
            <img src="../../../assets/images/trending-categories3.webp" alt="3" width="32%" class="rounded-xl cursor-pointer">
        </div>
    </div>

    <div id="posters" class="lg:w-[80%] md:w-[90%] m-auto mt-[60px]">
        <div class="flex justify-between">
            <img src="../../../assets/images/posters1.webp" alt="1" width="48%" class="rounded-xl cursor-pointer">
            <img src="../../../assets/images/posters2.webp" alt="2" width="48%" class="rounded-xl cursor-pointer">
        </div>
    </div>

    <div id="four-cateogries" class="lg:w-[80%] md:w-[90%] m-auto mt-[60px]">
        <div class="flex justify-between">
            <img src="../../../assets/images/four-cateogries1.webp" alt="1" width="24%" class="rounded-xl cursor-pointer">
            <img src="../../../assets/images/four-cateogries2.webp" alt="1" width="24%" class="rounded-xl cursor-pointer">
            <img src="../../../assets/images/four-cateogries3.webp" alt="1" width="24%" class="rounded-xl cursor-pointer">
            <img src="../../../assets/images/four-cateogries4.webp" alt="1" width="24%" class="rounded-xl cursor-pointer">
        </div>
    </div>

    <div id="posters" class="lg:w-[80%] md:w-[90%] m-auto mt-[60px]">
        <h1 class="lg:text-[24px] md:text-[18px] mb-3 text-[#B31312] font-bold">New &#64;Bookscape</h1>
        <div class="flex justify-between">
            <img src="../../../assets/images/bookscape1.webp" alt="1" width="48%" class="rounded-xl cursor-pointer">
            <img src="../../../assets/images/bookscape2.webp" alt="2" width="48%" class="rounded-xl cursor-pointer">
        </div>
    </div>

    <div id="posters" class="mt-[60px] mb-[40px]">
        <img src="../../../assets/images/offer.webp" alt="offer" width="100%">
    </div>

    
</div>