<div id="login-cont" class="min-h-screen">
    <div class="w-[400px] p-[20px] m-auto mt-[50px] shadow-xl pb-[50px] pt-[40px]">
      <div class="flex justify-center items-center gap-3">
        <img src="../../../../assets/images/logo1.png" alt="" class="w-[100px]">
        <h1 class="text-[30px] font-bold text-[#B31312]">Login</h1>
        
      </div>
        <div class="mt-[20px]">
            <form class="max-w-sm mx-auto" (submit)="onSubmit()">
                <div class="mb-5">
                  <label for="email" class="block mb-2 text-lg font-medium text-gray-900 dark:text-white">Your email</label>
                  <input type="email" id="email" name="email" [(ngModel)]="email" (input)="checkEmailValidation()" class="bg-gray-50 border border-gray-300 text-gray-900 text-md rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Enter email" required>
                  <div *ngIf="emailError" class="text-[#B31312] text-sm mt-1">{{ emailError }}</div>
                </div>
                <div class="mb-5">
                  <label for="password" class="block mb-2 text-lg font-medium text-gray-900 dark:text-white">Your password</label>
                  <input type="password" id="password"  name="password" [(ngModel)]="password" class="bg-gray-50 border border-gray-300 text-gray-900 text-md rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="*************" required>
                </div>
                <div class="flex items-start mb-5">
                </div>
                <button type="submit" class="text-white bg-[#B31312] hover:bg-[#803232] focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-lg w-[full] sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Login</button>
                <div class="text-sm mt-5 font-medium text-gray-500 dark:text-gray-300">
                  Not registered? <a routerLink="/signup" class="text-blue-700 hover:underline dark:text-blue-500">Create account</a>
              </div>
              </form>
        </div>
    </div>
</div>