<div class="w-[250px] h-[600px] border-r-2 border-gray-200">
    <div class="border-b-2 border-gray-200 mb-3 pb-3">
        <h1 class="font-bold text-[20px] ml-3">FILTERS</h1>
    </div>

    <div class="border-b-2 border-gray-200 mb-3 pb-4 text-[#EA906C]">
        <div class="flex gap-2 items-center ml-3 font-bold">
            <input type="radio" name="genre" id="all" value='' (change)="handleFilterCategory($event)" [(ngModel)]="categoryValue" class="accent-green-600" />
            <label for="all">All</label>
        </div>
        <div class="flex gap-2 items-center ml-3 font-bold">
            <input type="radio" name="genre" id="romance" value="romance" (change)="handleFilterCategory($event)" [(ngModel)]="categoryValue" class="accent-green-600" />
            <label for="romance">Romance</label>
        </div>
        <div class="flex gap-2 items-center ml-3 font-bold">
            <input type="radio" name="genre" id="horror" value="horror" (change)="handleFilterCategory($event)" [(ngModel)]="categoryValue" class="accent-green-600" />
            <label for="horror">Horror</label>
        </div>
        <div class="flex gap-2 items-center ml-3 font-bold">
            <input type="radio" name="genre" id="mystery" value="mystery" (change)="handleFilterCategory($event)" [(ngModel)]="categoryValue" class="accent-green-600" />
            <label for="electronics">Mystery</label>
        </div>
        <div class="flex gap-2 items-center ml-3 font-bold">
            <input type="radio" name="genre" id="historical" value="historical" (change)="handleFilterCategory($event)" [(ngModel)]="categoryValue" class="accent-green-600" />
            <label for="historical">Historical</label>
        </div>
        <div class="flex gap-2 items-center ml-3 font-bold">
            <input type="radio" name="genre" id="science fiction" value="science fiction" (change)="handleFilterCategory($event)" [(ngModel)]="categoryValue" class="accent-green-600" />
            <label for="science fiction">Science Fiction</label>
        </div>
    </div>

    <div class="border-b-2 border-gray-200 mb-3 pb-4 text-[#EA906C]">
        <h1 class="font-bold text-[18px] ml-3 mb-3 text-black">Ratings</h1>
        <div class="flex gap-2 items-center ml-3 font-bold">
            <input type="radio" name="rating" value="1,2" (change)="handleRatingCateogry($event)" class="accent-green-600" />
            <label for="rating">1-2 Star</label>
        </div>
        <div class="flex gap-2 items-center ml-3 font-bold">
            <input type="radio" name="rating" value="2,3" (change)="handleRatingCateogry($event)" class="accent-green-600" />
            <label for="rating">2-3 Star</label>
        </div>
        <div class="flex gap-2 items-center ml-3 font-bold">
            <input type="radio" name="rating" value="3,4" (change)="handleRatingCateogry($event)" class="accent-green-600" />
            <label for="rating">3-4 Star</label>
        </div>
        <div class="flex gap-2 items-center ml-3 font-bold">
            <input type="radio" name="rating" value="4,5" (change)="handleRatingCateogry($event)" class="accent-green-600" />
            <label for="rating">4-5 Star</label>
        </div>
    </div>
</div>